<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<title>Chat</title>-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Login</h1>-->
<!--<form action="/login" method="post">-->
    <!--<input type="email" name="email" value="">-->
    <!--<input type="password" name="password" value="">-->
    <!--<input class="remember" type="checkbox" name="remember" value="ok">-->
    <!--<button type="submit">Sign in</button>-->
    <!--<% if (error_mes && error_mes.length > 0) { %>-->
        <!--<p> <%= error_mes %> </p>-->
    <!--<% } %>-->
    <!--<script src="/javascripts/script.js"></script>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
<%- include('header'); -%>

<body style="background-color: white;">

<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('images/logo-anim.svg');"></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form action="/registration" method="post" class="login100-form validate-form">
					<span class="login100-form-title p-b-25">
						Sign In
					</span>


                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Email</span>
                    <input id="email" class="input100" type="text" name="email" placeholder="Email addess...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <input id="password" class="input100" type="text" name="password" placeholder="*************">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-m w-full p-b-33">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
								<span class="txt1">
									Remember me
								</span>
                        </label>
                    </div>


                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Sign In
                        </button>
                    </div>

                    <a href="/registration" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        Sign Up
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            </form>
            <% if (typeof error_mes == 'string' && error_mes) { %>
                <p> <%= error_mes %> </p>
            <% } %>
        </div>
    </div>
</div>


<%- include('footer'); -%>



