<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<title><%= title %></title>-->
    <!--<link rel='stylesheet' href='/stylesheets/style.css'/>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--</head>-->
<!--<body>-->

<!--<h1>Registration</h1>-->

<!--<form action="/registration" method="post">-->
    <!--<input id="firstname" type="text" name="firstname" value="" required>-->
    <!--<input id="lastname" type="text" name="lastname" value="" required>-->
    <!--<input id="email" type="email" name="email" value="" required>-->
    <!--<input id="password" type="password" name="password" value="" required>-->
    <!--<button type="submit">Sign up</button>-->

<!--</form>-->

<!--<script src="/javascripts/script.js"></script>-->
<!--</body>-->
<!--</html>-->
<%- include('header'); -%>
<body style="background-color: white;">

<div class="limiter">
    <div class="container-login100">
        <div class="login100-more" style="background-image: url('images/logo-anim.svg');"></div>

        <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
            <form action="/registration" method="post" class="login100-form validate-form">
					<span class="login100-form-title p-b-25">
						Sign Up
					</span>

                <div class="wrap-input100 validate-input" data-validate="Name is required">
                    <span class="label-input100">Name</span>
                    <input id="firstname" class="input100" type="text" name="firstname" placeholder="Name...">
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Username is required">
                    <span class="label-input100">Surname</span>
                    <input id="lastname" class="input100" type="text" name="lastname" placeholder="Surname...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                    <span class="label-input100">Email</span>
                    <input id="email" class="input100" type="text" name="email" placeholder="Email addess...">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <input id="password" class="input100" type="text" name="password" placeholder="*************">
                    <span class="focus-input100"></span>
                </div>


                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Sign Up
                        </button>
                    </div>

                    <a href="/login" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
                        Sign in
                        <i class="fa fa-long-arrow-right m-l-5"></i>
                    </a>
                </div>
            </form>
            <% if (typeof error_mes == 'string' && error_mes) { %>
                <p> <%= error_mes %> </p>
            <% } %>
        </div>
    </div>
</div>

<%- include('footer'); -%>